<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}
<br>
{% for post in posts.all %}
<h1>{{ post.author.username }}'s Posts</h1>
<br>
<br>
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
<a>{{ post.votes_total }}</a>
<form method="POST" action="{% url 'posts:upvote' post.id %}">
  {% csrf_token %}
  <input type="submit" value="Up">
</form>
<form method="POST" action="{% url 'posts:downvote' post.id %}">
  {% csrf_token %}
  <input type="submit" value="Down">
</form>
<h3>{{post.pub_date}}</h3>
{% endfor %}
{% endblock %}
